body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(239, 219, 193, 0.904);
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.todo-container {
    margin-bottom: 20px;
}

.add-todo {
    display: flex;
    margin-bottom: 10px;
}

.add-todo input[type="text"] {
    flex-grow: 1;
    padding: 5px;
}

.add-todo button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.add-todo button:hover {
    background-color: #555;
}

.pending-tasks h2,
.completed-tasks h2 {
    margin-top: 0;
}

.pending-tasks ul,
.completed-tasks ul {
    list-style-type: none;
    padding: 0;
}

.pending-tasks li,
.completed-tasks li {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
}

.completed-tasks li {
    background-color: #c0f0c0;
}
.clear button{
    cursor: pointer;

}
.completed-tasks li span {
    margin-right: 10px;
}

.completed-tasks li time {
    font-size: 12px;
    color: #666;
}
footer{
    text-align: center;
    background-color: brown;
    color: white;
    padding: 10px;
}
